<div class="nested-fields">
  <div class="field">    
      
      <%= f.label :service_id %>
      <%= f.number_field :service_id %>

      <%= f.label :product_id %>
      <%= f.number_field :product_id %>

      <!--select :produto, options_for_select([["refrigerante", "refrigerante"],-->
                                                <!--   ["cerveja", "cerveja"], -->
                                                 <!--  ["todinho", "todinho"]],-->
                                                <!--  @order.products[f.index.to_i].produto) %>-->
       <%= f.label :valor %>                                          
       <%= f.number_field :valor %>

       <%= f.label :qtde %>                                          
       <%= f.number_field :qtde %>

       
       <%= f.label :Subtotal %>  
       <%= " #{ :valor }" %>                                         
       
     <%= link_to_remove_association "[remover]", f %>

  </div>
</div>
