<%= form_with(model: service, local: true) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :dt_service %>
    <%= form.date_select :dt_service, id: :service_dt_service %>
  </div>

  <div class="field">
    <%= form.label :pessoa %>
    <%= form.text_field :pessoa, id: :service_pessoa %>
  </div>

  <div class="field">
    <%= form.label :nr_res %>
    <%= form.number_field :nr_res, id: :service_nr_res %>
  </div>

  <div class="field">
    <%= form.label :product_id %>
    <%= collection_select(:detail, :product_id, Product.all, :id, :produto) %>
  </div>

  
   <div id="details">
    <%= form.fields_for :details  do |details_fields| %>
        <%= render partial: "detail_fields", locals: { f: details_fields } %>
    <% end %>
      <%= link_to_add_association('[ADICIONAR DETALHES]', form, :details) %>
  </div> 

<br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
