<p id="notice"><%= notice %></p>
<h1>.:. Serviços .:.</h1>
<br>

<table>
  <thead>
    <tr>
      <th>Dt service</th>
      <th>Pessoa</th>
      <th>Nr res</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.dt_service %></td>
        <td><%= service.pessoa %></td>
        <td><%= service.nr_res %></td>
        <td><%= link_to 'Mostrar', service %></td>
        <td><%= link_to 'Editar', edit_service_path(service) %></td>
        <td><%= link_to 'Excluir', service, method: :delete, data: { confirm: 'Tem certeza ??' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Serviço', new_service_path %>

<br/>
<%= link_to "HOME", "/home/index"%>
<br/>
