<p id="notice"><%= notice %></p>
<h1>.:. Mostrar Serviço .:. </h1>
<br>

<p>
  <strong>Dt service:</strong>
  <%= @service.dt_service %>
</p>

<p>
  <strong>Pessoa:</strong>
  <%= @service.pessoa %>
</p>

<p>
  <strong>Nr res:</strong>
  <%= @service.nr_res %>
</p>

<br>
<%= link_to 'Editar', edit_service_path(@service) %> |
<%= link_to 'Voltar', services_path %>
