<%= form_with(model: force, local: true) do |form| %>
  <% if force.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(force.errors.count, "error") %> prohibited this force from being saved:</h2>

      <ul>
      <% force.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :forca %>
    <%= form.text_field :forca, id: :force_forca %>
  </div>
<br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
