<p id="notice"><%= notice %></p>

<h1>.:. Força .:.</h1>
<br>

<table>
  <thead>
    <tr>
      <th>Forca</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @forces.each do |force| %>
      <tr>
        <td><%= force.forca %></td>
        <td><%= link_to 'Mostrar', force %></td>
        <td><%= link_to 'Editar', edit_force_path(force) %></td>
        <td><%= link_to 'Excluir', force, method: :delete, data: { confirm: 'Tem certeza ??' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Força', new_force_path %>

<br/>
<%= link_to "HOME", "/home/index"%>
<br/>


