<p id="notice"><%= notice %></p>
<h1>.:. Mostrar Força .:. </h1>
<br>

<p>
  <strong>Forca:</strong>
  <%= @force.forca %>
</p>

<%= link_to 'Editar', edit_force_path(@force) %> |
<%= link_to 'Voltar', forces_path %>
