<%= form_with(model: situation, local: true) do |form| %>
  <% if situation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(situation.errors.count, "error") %> prohibited this situation from being saved:</h2>

      <ul>
      <% situation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :situacao %>
    <%= form.text_field :situacao, id: :situation_situacao %>
  </div>

<br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
