<p id="notice"><%= notice %></p>

<h1>.:. Situação .:.</h1>
<br>

<table>
  <thead>
    <tr>
      <th>Situacao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @situations.each do |situation| %>
      <tr>
        <td><%= situation.situacao %></td>
        <td><%= link_to 'Mostrar', situation %></td>
        <td><%= link_to 'Editar', edit_situation_path(situation) %></td>
        <td><%= link_to 'Excluir', situation, method: :delete, data: { confirm: 'Tem certeza ??' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Situação', new_situation_path %>

<br/>
<%= link_to "HOME", "/home/index"%>
<br/>

