<p id="notice"><%= notice %></p>
<h1>.:. Mostrar Situação .:. </h1>
<br>

<p>
  <strong>Situacao:</strong>
  <%= @situation.situacao %>
</p>

<%= link_to 'Editar', edit_situation_path(@situation) %> |
<%= link_to 'Voltar', situations_path %>
