<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :empregado %>
    <%= form.text_field :empregado, id: :employee_empregado %>
  </div>

  <div class="field">
    <%= form.label :celular %>
    <%= form.text_field :celular, id: :employee_celular %>
  </div>

  <div class="field">
    <%= form.label :funcao %>
    <%= form.text_field :funcao, id: :employee_funcao %>
  </div>

  <div class="field">
    <%= form.label :login %>
    <%= form.text_field :login, id: :employee_login %>
  </div>

  <div class="field">
    <%= form.label :senha %>
    <%= form.text_field :senha, id: :employee_senha %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
