<p id="notice"><%= notice %></p>
<h1>.:. Funcionário .:.</h1>
<br>

<table>
  <thead>
    <tr>
      <th>Empregado</th>
      <th>Celular</th>
      <th>Funcao</th>
      <th>Login</th>
     <!-- <th>Senha</th>-->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.empregado %></td>
        <td><%= employee.celular %></td>
        <td><%= employee.funcao %></td>
        <td><%= employee.login %></td>
        <!--<td><%= employee.senha %></td>-->
        <td><%= link_to 'Mostrar', employee %></td>
        <td><%= link_to 'Editar', edit_employee_path(employee) %></td>
        <td><%= link_to 'Excluir', employee, method: :delete, data: { confirm: 'Tem certeza ??' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Funcionário', new_employee_path %>

<br/>
<%= link_to "HOME", "/home/index"%>
<br/>
