<p id="notice"><%= notice %></p>
<h1>.:. Mostrar Funcionário .:. </h1>
<br>

<p>
  <strong>Empregado:</strong>
  <%= @employee.empregado %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @employee.celular %>
</p>

<p>
  <strong>Funcao:</strong>
  <%= @employee.funcao %>
</p>

<p>
  <strong>Login:</strong>
  <%= @employee.login %>
</p>

<p>
  <!--<strong>Senha:</strong>-->
  <!--<%= @employee.senha %>-->
</p>

<br>
<%= link_to 'Editar', edit_employee_path(@employee) %> |
<%= link_to 'Voltar', employees_path %>
