<div class="nested-fields">
     <div class="field">
         IDT: <%= f.text_field :idt %>
          NOME: <%= f.text_field :nome_acompanhante %>
          CPF: <%= f.text_field :parentesco %>
      </div>
       <br>
      <div class="field"> 
            IDADE: <%= f.number_field :idade %>
            SEXO: <%= f.text_field :sexo %>
             <%= link_to_remove_association("[REMOVER]", f) %>
     </div>
 </div>