<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Solicitante %>
    <%= form.text_field :solicitante, id: :booking_solicitante %>
  <!--</div>-->
  <!--<div class="field">-->
    <%= form.label :Celular %>
    <%= form.text_field :celular_soli, id: :booking_celular_soli %>
  <!--</div>-->
  <!--<div class="field">-->
    <%= form.label :Email_S %>
    <%= form.text_field :email_soli, id: :booking_email_soli %>
  <!--</div>-->

  <!--<div class="field">-->
    <%= form.label :Cidade %>
    <%= form.text_field :cidade_soli, id: :booking_cidade_soli %>
  <!--</div>-->

  <!--<div class="field">-->
    <%= form.label :UF %>
    <%= form.select :uf_soli, opcoes_por_estados(@booking.uf_soli) %>
    <!--<%= form.text_field :uf_soli, id: :booking_uf_soli %>-->
  </div>
   <br>
  <div class="field">
    <%= form.label :OM_Orgao %>
    <%= form.text_field :om_orgao_cli, id: :booking_om_orgao_cli %>
  <!--</div>-->

  <!--<div class="field">-->
    <%= form.label :dt_reserva %>
    <%= form.date_field :dt_reserva, id: :booking_dt_reserva %>
  <!--</div>-->

  <!--<div class="field">-->
    <%= form.label :dt_entrada %>
    <%= form.date_field :dt_entrada, id: :booking_dt_entrada %>
  <!--</div>-->

  <!--<div class="field">-->
    <%= form.label :dt_saida %>
    <%= form.date_field :dt_saida, id: :booking_dt_saida %>
  <!--</div>-->

  <!--<div class="field">-->
    <%= form.label :dt_pgto %>
    <%= form.date_field :dt_pgto, id: :booking_dt_pgto %>
  </div>
   <br>
  <div class="field">
    <%= form.label :Prod_S %>
    <%= form.text_field :add_produto, id: :booking_add_produto %>
  <!--</div>-->

  <!--<div class="field">-->
    <%= form.label :Sv_Extr %>
    <%= form.text_field :add_apto, id: :booking_add_apto %>
  <!--</div>-->

  <!--<div class="field">-->
    <%= form.label :Desc %>
    <%= form.text_field :desconto, id: :booking_desconto %>
  <!--</div>-->

  <!--<div class="field">-->
    <%= form.label :Status %>
    <%= form.text_field :status_res, id: :booking_status_res %>
  <!--</div>-->

  <!--<div class="field">-->
    <%= form.label :Obs %>
    <%= form.text_field :obs, id: :booking_obs %>
  </div>
  <br>
  <div>
    <%= form.label :Forca %>
    <%= collection_select(:booking, :force_id, Force.all, :id, :forca) %>
    
    <%= form.label :Situação %>
    <%= collection_select(:booking, :situation_id, Situation.all, :id, :situacao) %>
    </div>
   <br>
  
  <!-- Form Clientes  -->

      <%= form.fields_for :customer do |campos_cliente| %>
          <div>
            <!--COD: <%= campos_cliente.text_field :id %>-->
            NOME: <%= campos_cliente.text_field :nome %>
            IDT: <%= campos_cliente.text_field :identidade %>
            CPF: <%= campos_cliente.text_field :cpf %>
            CELULAR: <%= campos_cliente.text_field :celular %>
          </div>
          <div>        
            <br>
            FONE_RES: <%= campos_cliente.text_field :fone_res %>
            EMAIL: <%= campos_cliente.text_field :email %>
            DT_CADASTRO: <%= campos_cliente.date_field :dt_cadastro %>
            CIDADE: <%= campos_cliente.text_field :cidade %>
          </div>
        
        <% end %>
           
      <br>             
     

  <div class="field">

    <%= form.label :Apto %>
    <%= collection_select(:booking, :apartment_id, @apartamentos, :id, :nr) %>
    <!--<%= form.text_field :apartment_id, id: :booking_apartment_id %>-->
  <!--</div>-->

  <!--<div class="field">-->
    <%= form.label :Posto %>
    <%= collection_select(:booking, :graduation_id, @graduacoes, :id, :posto_grad) %>
  <!--</div>-->

  <!--<div class="field">-->
    <%= form.label :Funcionário %>
    <%= collection_select(:booking, :employee_id, @empregados, :id, :empregado) %>
    <!--<%= form.text_field :employee_id, id: :booking_employee_id %>-->
  <!--</div>-->

  <!--<div class="field">-->
    <%= form.label :Motivo %>
    <%= collection_select(:booking, :reason_id, @motivos, :id, :motivo) %>
    <!--<%= form.text_field :reason_id, id: :booking_reason_id %>-->
  <!--</div>-->

  <!--<div class="field">-->
   <!-- <%= form.label :order_id %> -->
   <!-- <%= collection_select(:booking, :order_id, Order.all, :id, :nome) %> -->
    <!--<%= form.text_field :reason_id, id: :booking_reason_id %>-->
  </div>

   <br>


  <div id="companions">
     <%= link_to_add_association('[ACOMPANHANTE + ]', form, :companions) %> 
      <%= form.fields_for :companions do |companions_fields| %>
        <%= render partial: "companion_fields", locals: { f: companions_fields} %>
      <% end %>

  </div>
      

   <hr>
  <div class="actions">
          <%= form.submit %>
  </div>

<% end %>
   <br>
