<p id="notice"><%= notice %></p>
<h1>.:. Mostrar - Reserva .:.</h1>
<br>

<ul>

    <p>
      <strong>Solicitante:</strong>
      <%= @booking.solicitante %>
    </p>

    <p>
      <strong>Celular:</strong>
      <%= @booking.celular_soli %>
    </p>

    <p>
      <strong>Email_S:</strong>
      <%= @booking.email_soli %>
    </p>

    <p>
      <strong>Cidade:</strong>
      <%= @booking.cidade_soli %>
    </p>

    <p>
      <strong>UF:</strong>
      <%= @booking.uf_soli %>
    </p>

    <p>
      <strong>OM/Órgão:</strong>
      <%= @booking.om_orgao_cli %>
    </p>

    <p>
      <strong>Dt reserva:</strong>
      <%= @booking.dt_reserva %>
    </p>

    <p>
      <strong>Dt entrada:</strong>
      <%= @booking.dt_entrada %>
    </p>

    <p>
      <strong>Dt saída:</strong>
      <%= @booking.dt_saida %>
    </p>

    <p>
      <strong>Dt pgto:</strong>
      <%= @booking.dt_pgto %>
    </p>

    <p>
      <strong>Prod_$:</strong>
      <%= @booking.add_produto %>
    </p>

    <p>
      <strong>Sv_Ext$:</strong>
      <%= @booking.add_apto %>
    </p>

    <p>
      <strong>Desc$:</strong>
      <%= @booking.desconto %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= @booking.status_res %>
    </p>

    <p>
      <strong>Observação:</strong>
      <%= @booking.obs %>
    </p>

    <p>
      <strong>Cliente:</strong>
      <%= @booking.customer.nome %>
    </p>

    <p>
      <strong>Apto:</strong>
      <%= @booking.apartment.nr %>
    </p>

    <p>
      <strong>Posto:</strong>
      <%= @booking.graduation.posto_grad %>
    </p>

    <p>
      <strong>Funcionário:</strong>
      <%= @booking.employee.empregado %>
    </p>

    <p>
      <strong>Motivo:</strong>
      <%= @booking.reason.motivo %>
    </p>

</ul>

<%= link_to 'Editar', edit_booking_path(@booking) %> |
<%= link_to 'Voltar', bookings_path %>

<br>
<!-- <%= @parametros %><br>   @var_id = @varBooking_id.id no ctrl-->
 <!-- <%= @varBooking_id %><br> @var_id2 = params[:id] no ctrl-->
 <!-- var_id <%= @var_id %> xxx var_id2_ <%= @var_id2 %> -->