<%= form_with(model: reason, local: true) do |form| %>
  <% if reason.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reason.errors.count, "error") %> prohibited this reason from being saved:</h2>

      <ul>
      <% reason.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :motivo %>
    <%= form.text_field :motivo, id: :reason_motivo %>
  </div>
<br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
