<p id="notice"><%= notice %></p>

<h1>.:. Motivos .:.</h1>
<br>

<table>
  <thead>
    <tr>
      <th>Motivo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reasons.each do |reason| %>
      <tr>
        <td><%= reason.motivo %></td>
        <td><%= link_to 'Mostrar', reason %></td>
        <td><%= link_to 'Editar', edit_reason_path(reason) %></td>
        <td><%= link_to 'Excluir', reason, method: :delete, data: { confirm: 'Tem certeza ??' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Motivo', new_reason_path %>

<br/>
<%= link_to "HOME", "/home/index"%>
<br/>

