<p id="notice"><%= notice %></p>
<h1>.:. Mostrar Motivo .:. </h1>
<br>

<p>
  <strong>Motivo:</strong>
  <%= @reason.motivo %>
</p>

<br>
<%= link_to 'Editar', edit_reason_path(@reason) %> |
<%= link_to 'Voltar', reasons_path %>
