<p id="notice"><%= notice %></p>

<h2>Relatório - Impressão</h2> <!-- RelCustomer#rel_cust -->

<br/>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Identidade</th>
      <th>Cpf</th>
      <th>Celular</th>
      <th>Fone Res</th>
      <th>Dt cadastro</th>
      <th>Email</th>
      <th>Cidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.nome %></td>
        <td><%= customer.identidade %></td>
        <td><%= customer.cpf %></td>
        <td><%= customer.celular %></td>
        <td><%= customer.fone_res %></td>
        <td><%= customer.dt_cadastro %></td>
        <td><%= customer.email %></td>
        <td><%= customer.cidade %></td>
                        
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<br/>
<%= link_to "<<", "/home/index"%>
<br/>


<!-- <p>Find me in app/views/rel_customer/rel_cust.html.erb</p> -->
