<div class="jumbotron" align="center">

	<h4 class="display-4">Hotel de Trânsito dos Oficiais</h4>
	<!--<h2>Hotel de Trânsito dos Oficiais</h2>-->
	
		<%= " Hoje: " %><%= l(@dia1) %> 

<% if admin_signed_in? %>
	 <p> <%=  current_admin.email %> (Usuário admin logado)
	 	<%= link_to "  Sair (fechar sessão)", destroy_admin_session_path, method: :delete %>
	 </p>
<% else %>
	  <!--<%= link_to "Cadastro de novo Admin  ", new_admin_registration_path %>§§§§-->
        <%= link_to "  Logar (Entrar Sistema Admin)", new_admin_session_path %>
<% end %>
   
<% if member_signed_in? %>
	 <p> <%=  current_member.email %> (Usuário membro logado)
	 	<%= link_to "  Sair (fechar sessão)", destroy_member_session_path, method: :delete %>
	 </p>
<% else %>
	  <!--<%= link_to "Cadastro de novo Membro  ", new_member_registration_path %>§§§§-->
        <%= link_to "  Logar (Entrar Sistema Membro)", new_member_session_path %>

<% end %>
	
</div>

<!--<ul>-->
	<br/>
	
	<table>
		
		<tr>
			<td><%= "....."%><%= link_to t('buttons.Pes_Res_Simples'), rel_booking_rel_book0_path, class: "btn btn-primary" %> <%= "....."%>
     		</td> 
		    <td><%= link_to t('buttons.Pes_Res_EeOU'), rel_booking_rel_book2_path, class: "btn btn-primary" %> <%= "....."%>
		    </td>
    		<td><%= link_to t('buttons.Pes_Res_Completa'), rel_booking_rel_book3_path, class: "btn btn-primary" %> <%= "....."%>
		    </td> 
		    <td> <%= link_to t('buttons.Rel_Reservas'), bookings_path, class: "btn btn-primary" %>
     		</td>
	    </tr>
		
	</table>
   
     <!--<li><%= link_to "Reservas", "/bookings"%></li>-->
		
     <br>
	<table>
		
		<tr>
			<td><%= "....."%> <%= link_to t('buttons.Clientes'), customers_path, class: "btn btn-primary" %></td> 
		    <td><%= "....."%><%= link_to t('buttons.Rel_Clientes'), rel_customer_rel_cust_path, class: "btn btn-primary" %></td>
    		
	    </tr>
		
	</table>
			
 
	<br/>
		<!--<li><%= link_to "Produtos", "/products"%></li>-->
		<%= "....."%><%= link_to t('buttons.Produtos'), products_path, class: "btn btn-primary" %> 
	<br/>
	<br/>

<%= render partial: "/home/p_compartilhada/rodape" %>
