<div class="nested-field">
    <div class="field">
        <%= f.label :marca_mod %>
        <%= f.text_field :marca_mod %>
        <%= f.label :cor %>
        <%= f.text_field :cor %>
        <%= f.label :placa %>
        <%= f.text_field :placa %>
        <!--<%= link_to_remove_association('[REMOVER]', f)%>-->
    </div>   
</div>