<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :customer_nome %>
  </div>

  <div class="field">
    <%= form.label :identidade %>
    <%= form.text_field :identidade, id: :customer_identidade %>
  </div>

  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf, id: :customer_cpf %>
  </div>

  <div class="field">
    <%= form.label :celular %>
    <%= form.text_field :celular, id: :customer_celular %>
  </div>

  <div class="field">
    <%= form.label :fone_res %>
    <%= form.text_field :fone_res, id: :customer_fone_res %>
  </div>

  <div class="field">
    <%= form.label :dt_cadastro %>
    <%= form.date_select :dt_cadastro, id: :customer_dt_cadastro %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :customer_email %>
  </div>

  <div class="field">
    <%= form.label :cidade %>
    <%= form.text_field :cidade, id: :customer_cidade %>
  </div>

 
  
   <hr>
  <div id="cars">
    <%= form.fields_for :cars  do |cars_fields| %>
      <%= render partial: "car_fields", locals: { f: cars_fields } %>
    <% end %>
    
    <%= link_to_add_association('[ADICIONAR CARRO]', form, :cars) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
