<p id="notice"><%= notice %></p>
<h1>.:. Clientes .:. </h1>
<br>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Identidade</th>
      <th>Cpf</th>
      <th>Celular</th>
      <th>Fone res</th>
      <th>Dt cadastro</th>
      <th>Email</th>
      <th>Cidade</th>
      <!-- <th>Federation</th>
      <th>Force</th>
      <th>Situation</th> -->
     <!--<th>Placa carro</th>-->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.nome %></td>
        <td><%= customer.identidade %></td>
        <td><%= customer.cpf %></td>
        <td><%= customer.celular %></td>
        <td><%= customer.fone_res %></td>
        <td><%= l(customer.dt_cadastro) %></td>
        <td><%= customer.email %></td>
        <td><%= customer.cidade %></td>
        <!-- <td><%= customer.federation %></td>-->
        
        <td><%= link_to 'Mostra', customer %></td>
        <td><%= link_to 'Editar', edit_customer_path(customer) %></td>
        <td><%= link_to 'Excluir', customer, method: :delete, data: { confirm: ' Tem certeza ??' }%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--<%= link_to 'New Customer', new_customer_path %>-->

<br/>
<%= link_to "HOME", "/home/index"%>
<br/>


