<p id="notice"><%= notice %></p>

<h1>Customers</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Identidade</th>
      <th>Cpf</th>
      <th>Celular</th>
      <th>Fone res</th>
      <th>Dt cadastro</th>
      <th>Email</th>
      <th>Cidade</th>
      <th>Federation</th>
      <th>Force</th>
      <th>Situation</th>
     <!--<th>Placa carro</th>-->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.nome %></td>
        <td><%= customer.identidade %></td>
        <td><%= customer.cpf %></td>
        <td><%= customer.celular %></td>
        <td><%= customer.fone_res %></td>
        <td><%= customer.dt_cadastro %></td>
        <td><%= customer.email %></td>
        <td><%= customer.cidade %></td>
        <td><%= customer.federation %></td>
        <td><%= customer.force.forca %></td>
        <td><%= customer.situation.situacao %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' }%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--<%= link_to 'New Customer', new_customer_path %>-->

<br/>
<%= link_to "HOME", "/home/index"%>
<br/>


