<p id="notice"><%= notice %></p>
<h1>.:. Mostrar Clientes .:. </h1>
<br>
<p>
  <strong>Nome:</strong>
  <%= @customer.nome %>
</p>

<p>
  <strong>Identidade:</strong>
  <%= @customer.identidade %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @customer.cpf %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @customer.celular %>
</p>

<p>
  <strong>Fone res:</strong>
  <%= @customer.fone_res %>
</p>

<p>
  <strong>Dt cadastro:</strong>
  <%= l(@customer.dt_cadastro) %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @customer.cidade %>
</p>

<br>

<%= link_to 'Editar', edit_customer_path(@customer) %> |
<%= link_to 'Voltar', customers_path %>
