<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nr_res %>
    <%= form.number_field :nr_res, id: :order_nr_res %>
  </div>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :order_nome %>
  </div>

  <div class="field">
    <%= form.label :dt_pedido %>
    <%= form.date_field :dt_pedido, id: :order_dt_pedido %>
  </div>

  <div id="items">
    <%= form.fields_for :items  do |items_fields| %>
              <%= render partial: "item_fields", locals: { f: items_fields } %>
    <% end %>
      <%= link_to_add_association('[ADICIONAR ITENS]' , form, :items) %>
  </div> 



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
