<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nr_res %>
    <%= form.number_field :nr_res, id: :order_nr_res %>
  </div>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :order_nome %>
  </div>

  <div class="field">
    <%= form.label :dt_pedido %>
    <%= form.date_field :dt_pedido, id: :order_dt_pedido %>
  </div>

  <div class="field">
   <%= link_to_add_association 'ADICIONAR ITENS' , form, :items,
      'data-association-insertion-node' => "#items-product ol",
      'data-association-insertion-method' => "append",
      :wrap_object => Proc.new{|item| item.build_product; item} %>
    <hr>

       <fieldset id="items-product">
          <ol>
            <%= form.fields_for :items  do |campos_item| %>
              <%= render partial: "item_fields", locals: { f: campos_item } %>
            <% end %>
          </ol>
       </fieldset>
  </div> 



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
