\<li class="control-group nested-fields">
	<div class="controls">    
      
      <%= f.fields_for :product do |item_prod| %>
      		
       Cod:<%= item_prod.text_field  :produto %>
       <%= collection_select(:product, :product_id, Product.all, :id, :produto) %>
      
	      Valor: <%= item_prod.number_field  :valor %>

      <% end %>

         	
      <!--<%= f.fields_for :item do |item_prod| %>-->
       Qtde: <%= f.number_field  :qtde_ped %>
	  <!--<% end %>-->
	
      <%= link_to_remove_association "remover", f %>

    </div>
</li>

