<div class="nested-fields">
  <div class="field">    
      
      <%= f.label :product_id %>
      <%= f.number_field :product_id %>

      <!--select :produto, options_for_select([["refrigerante", "refrigerante"],
                                                 ["cerveja", "cerveja"],
                                                 ["todinho", "todinho"]],
                                                 @order.products[f.index.to_i].produto) %>-->
       <%= f.label :valor %>                                          
       <%= f.number_field :valor %>

       <%= f.label :qtde_ped %>                                          
       <%= f.number_field :qtde_ped %>

     <%= link_to_remove_association "remover", f %>

  </div>
</div>

