<p id="notice"><%= notice %></p>
<h1>.:. Pedido .:.</h1>
<br>

<table>
  <thead>
    <tr>
       <th>Nr Ped</th>
      <th>Nr res</th>
      <th>Nome</th>
      <th>Dt pedido</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.nr_res %></td>
        <td><%= order.nome %></td>
        <td><%= order.dt_pedido %></td>
        <td><%= link_to 'Mostrar', order %></td>
        <td><%= link_to 'Editar', edit_order_path(order) %></td>
        <td><%= link_to 'Excluir', order, method: :delete, data: { confirm: 'Tem certeza ??' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>
<%= link_to 'Novo Pedido', new_order_path %>
