<p id="notice"><%= notice %></p>

<p>
  <strong>Nr res:</strong>
  <%= @order.nr_res %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @order.nome %>
</p>

<p>
  <strong>Dt pedido:</strong>
  <%= @order.dt_pedido %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
