<p id="notice"><%= notice %></p>

<h1>Federations</h1>

<table>
  <thead>
    <tr>
      <th>Uf</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @federations.each do |federation| %>
      <tr>
        <td><%= federation.uf %></td>
        <td><%= federation.estado %></td>
        <td><%= link_to 'Show', federation %></td>
        <td><%= link_to 'Edit', edit_federation_path(federation) %></td>
        <td><%= link_to 'Destroy', federation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Federation', new_federation_path %>

<br/>
<%= link_to "HOME", "/home/index"%>
<br/>

