<p id="notice"><%= notice %></p>

<p>
  <strong>Uf:</strong>
  <%= @federation.uf %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @federation.estado %>
</p>

<%= link_to 'Edit', edit_federation_path(@federation) %> |
<%= link_to 'Back', federations_path %>
