<h1>.:. 1-Pesquisa Reserva .:.</h1> <!-- RelBooking#rel_book -->

<p id="notice"><%= notice %></p>


<!-- Buscas -->
<%= search_form_for @q do |f| %>
    <%= f.label :dt_reserva_cont %>
    <%= f.search_field :dt_reserva_cont %>

    <%= f.label :solicitante_cont %>
    <%= f.search_field :solicitante_cont %>

    <%= f.label :status_res_cont %>
    <%= f.search_field :status_res_cont %>
    
    <%= f.submit %>
<% end %>
   
    
 <br>

<!--<th><%= sort_link(@q, :produto ) %></th>-->
<!--<th><%= sort_link(@q, :qtde_estq ) %></th>-->

<table>
  <thead>
    <tr>
       <!--<th>Solicitante</th>-->
      <th>Id Res</th>
      <th><%= sort_link(@q, :solicitante ) %></th>
       <th>Dt reserva</th>
      <th>Celular soli</th>
      <th>Email soli</th>
      <th>Cidade soli</th>
      <th>Uf soli</th>
      <th>Om orgao cli</th>
      <!--<th>Dt entrada</th>-->
      <th><%= sort_link(@q, :dt_entrada ) %></th>
      <th>Dt saida</th>
      <th>Add produto</th>
      <th>Add apto</th>
      <th>Desconto</th>
      <th>Dt pgto</th>
      <th>Status res</th>
      <th>Obs</th>
      <th>Customer</th>
      <th>Apartment</th>
      <th>Graduation</th>
      <th>Employee</th>
      <th>Reason</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.id %></td>
        <td><%= booking.solicitante %></td>
        <td><%= l(booking.dt_reserva) %></td>
        <td><%= booking.celular_soli %></td>
        <td><%= booking.email_soli %></td>
        <td><%= booking.cidade_soli %></td>
        <td><%= booking.uf_soli %></td>
        <td><%= booking.om_orgao_cli %></td>
        <td><%= l(booking.dt_entrada) %></td>
        <td><%= l(booking.dt_saida) %></td>
        <td><%= booking.add_produto %></td>
        <td><%= booking.add_apto %></td>
        <td><%= booking.desconto %></td>
        <td><%= l(booking.dt_pgto) %></td>
        <td><%= booking.status_res %></td>
        <td><%= booking.obs %></td>
        <td><%= booking.customer.nome %></td>
        <td><%= booking.apartment.nr %></td>
        <td><%= booking.graduation.posto_grad %></td>
        <td><%= booking.employee.empregado %></td>
        <td><%= booking.reason.motivo %></td>
        <!-- <td><%= link_to 'Show', booking %></td>
        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
        <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Reserva', new_booking_path %>

<br/>
<%= link_to "HOME", "/home/index"%>
<br/>




<p>Find me in app/views/rel_booking/rel_book.html.erb</p>
