<p id="notice"><%= notice %></p> <!--RelBooking#rel_book3-->
<h2>.:. 3-Pesquisa Completa .:.</h2>
<br>
<!-- Buscas -->
<%= search_form_for @q do |f| %>
    <%= f.label :dt_reserva_cont %>
    <%= f.search_field :dt_reserva_cont %>

    <%= f.label :solicitante_cont %>
    <%= f.search_field :solicitante_cont %>

    <%= f.label :status_res_cont %>
    <%= f.search_field :status_res_cont %>
    
    <%= f.submit %>
<% end %>
  
    <br>
<%= search_form_for @q do |f| %>
    <%= f.label :dt_entrada_gteq, "Dia entrada2 Maior Q " %>
    <%= f.search_field :dt_entrada_gteq %>
    
    <%= f.label :dt_saida_lteq, "Dia saída2 Menor Q" %>
    <%= f.search_field :dt_saida_lteq %>

    <%= f.label :status_res_eq, "Status da Res " %>
    <%= f.search_field :status_res_eq %>
        

    <%= f.submit %>

  <% end %>

 <br><br>

<table>
  <thead>
    <tr>
       <!--<th>Solicitante</th>-->
      <th>Res</th>
      <th><%= sort_link(@q, :solicitante ) %></th>
       <th>Dt reserva</th>
      <th>Celular</th>
      <th>Email_S</th>
      <th>Cidade</th>
      <th>UF</th>
      <th>OM/Órgão</th>
      <th><%= sort_link(@q, :dt_entrada ) %></th>
      <th>Dt saida</th>
      <th>Prod_$</th>
      <th>Sv_Ext$</th>
      <th>Desc$</th>
      <th>Dt pgto</th>
      <th>Status</th>
      <th>Observação</th>
      <th>Cliente</th>
      <th>Apto</th>
      <th>Posto</th>
      <th>Funcionário</th>
      <th>Motivo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.id %></td>
        <td><%= booking.solicitante %></td>
        <td><%= l(booking.dt_reserva) %></td>
        <td><%= booking.celular_soli %></td>
        <td><%= booking.email_soli %></td>
        <td><%= booking.cidade_soli %></td>
        <td><%= booking.uf_soli %></td>
        <td><%= booking.om_orgao_cli %></td>
        <td><%= l(booking.dt_entrada) %></td>
        <td><%= l(booking.dt_saida) %></td>
        <td><%= booking.add_produto %></td>
        <td><%= booking.add_apto %></td>
        <td><%= booking.desconto %></td>
        <td><%= l(booking.dt_pgto) %></td>
        <td><%= booking.status_res %></td>
        <td><%= booking.obs %></td>
        <td><%= booking.customer.nome %></td>
        <td><%= booking.apartment.nr %></td>
        <td><%= booking.graduation.posto_grad %></td>
        <td><%= booking.employee.empregado %></td>
        <td><%= booking.reason.motivo %></td>
        <!-- <td><%= link_to 'Show', booking %></td>
        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
        <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Reserva', new_booking_path %>

<br/>
<%= link_to "HOME", "/home/index"%>
<br/>

<!-- Find me in app/views/rel_booking/rel_book.html.erb -->
