<%= form_with(model: companion, local: true) do |form| %>
  <% if companion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(companion.errors.count, "error") %> prohibited this companion from being saved:</h2>

      <ul>
      <% companion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :idt %>
    <%= form.text_field :idt, id: :companion_idt %>
  </div>

  <div class="field">
    <%= form.label :nome_acompanhante %>
    <%= form.text_field :nome_acompanhante, id: :companion_nome_acompanhante %>
  </div>

  <div class="field">
    <%= form.label :parentesco %>
    <%= form.text_field :parentesco, id: :companion_parentesco %>
  </div>

  <div class="field">
    <%= form.label :idade %>
    <%= form.number_field :idade, id: :companion_idade %>
  </div>

  <div class="field">
    <%= form.label :sexo %>
    <%= form.text_field :sexo, id: :companion_sexo %>
  </div>

  <div class="field">
    <%= form.label :booking_id %>
    <%= form.text_field :booking_id, id: :companion_booking_id %>
  </div>
<br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
