<p id="notice"><%= notice %></p>
<h1>.:. Acompanhante .:.</h1>
<br>

<table>
  <thead>
    <tr>
      <th>Idt</th>
      <th>Nome acompanhante</th>
      <th>Parentesco</th>
      <th>Idade</th>
      <th>Sexo</th>
      <th>Booking</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companions.each do |companion| %>
      <tr>
        <td><%= companion.idt %></td>
        <td><%= companion.nome_acompanhante %></td>
        <td><%= companion.parentesco %></td>
        <td><%= companion.idade %></td>
        <td><%= companion.sexo %></td>
        <td><%= companion.booking.id %></td>
        <td><%= link_to 'Mostrar', companion %></td>
        <td><%= link_to 'Editar', edit_companion_path(companion) %></td>
        <td><%= link_to 'Excluir', companion, method: :delete, data: { confirm: 'Tem certeza ??' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Acompanhante', new_companion_path %>

<br/>
<%= link_to "HOME", "/home/index"%>
<br/>

