<p id="notice"><%= notice %></p>
<h1>.:. Mostrar Acompanhante .:. </h1>
<br>

<p>
  <strong>Idt:</strong>
  <%= @companion.idt %>
</p>

<p>
  <strong>Nome acompanhante:</strong>
  <%= @companion.nome_acompanhante %>
</p>

<p>
  <strong>Parentesco:</strong>
  <%= @companion.parentesco %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @companion.idade %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @companion.sexo %>
</p>

<p>
  <strong>Booking:</strong>
  <%= @companion.booking.id %>
</p>

<br>
<%= link_to 'Editar', edit_companion_path(@companion) %> |
<%= link_to 'Voltar', companions_path %>
