<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :qtde_ped %>
    <%= form.number_field :qtde_ped, id: :item_qtde_ped %>
  </div>

  <div class="field">
    <%= form.label :order_id %>
    <%= form.text_field :order_id, id: :item_order_id %>
  </div>

  <div class="field">
    <%= form.label :product_id %>
   <!--<%= form.text_field :product_id, id: :item_product_id %>-->
    <%= collection_select(:item, :product_id, Product.all, :id, :produto) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
