<p id="notice"><%= notice %></p>

<p>
  <strong>Qtde ped:</strong>
  <%= @item.qtde_ped %>
</p>

<p>
  <strong>Order:</strong>
  <%= @item.order %>
</p>

<p>
  <strong>Product:</strong>
  <%= @item.product %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
