<%= form_with(model: car, local: true) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :marca_mod %>
    <%= form.text_field :marca_mod, id: :car_marca_mod %>
  </div>

  <div class="field">
    <%= form.label :cor %>
    <%= form.text_field :cor, id: :car_cor %>
  </div>

  <div class="field">
    <%= form.label :placa %>
    <%= form.text_field :placa, id: :car_placa %>
  </div>

  <div class="field">
    <%= form.label :customer_id %>
    <%= collection_select(:car, :customer_id, @clientes, :id, :nome) %>
    <!--<%= form.text_field :customer_id, id: :car_customer_id %>-->
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
