<p id="notice"><%= notice %></p>
<h1>.:. Veículo .:.</h1>
<br>

<table>
  <thead>
    <tr>
      <th>Marca mod</th>
      <th>Cor</th>
      <th>Placa</th>
      <th>Customer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.marca_mod %></td>
        <td><%= car.cor %></td>
        <td><%= car.placa %></td>
        <td><%= car.customer.nome %></td>
        <td><%= link_to 'Mostrar', car %></td>
        <td><%= link_to 'Editar', edit_car_path(car) %></td>
        <td><%= link_to 'Excluir', car, method: :delete, data: { confirm: 'Tem certeza ??' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <%= link_to 'Novo veículo', new_car_path %> -->

<br/>
<%= link_to "HOME", "/home/index"%>
<br/>
