<p id="notice"><%= notice %></p>
<h1>.:. Mostrar Veículo .:. </h1>
<br>

<p>
  <strong>Marca mod:</strong>
  <%= @car.marca_mod %>
</p>

<p>
  <strong>Cor:</strong>
  <%= @car.cor %>
</p>

<p>
  <strong>Placa:</strong>
  <%= @car.placa %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @car.customer.nome %>
</p>

<br>
<%= link_to 'Editar', edit_car_path(@car) %> |
<%= link_to 'Voltar', cars_path %>
