<%= form_with(model: graduation, local: true) do |form| %>
  <% if graduation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(graduation.errors.count, "error") %> prohibited this graduation from being saved:</h2>

      <ul>
      <% graduation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :posto_grad %>
    <%= form.text_field :posto_grad, id: :graduation_posto_grad %>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao, id: :graduation_descricao %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
