<p id="notice"><%= notice %></p>

<h1>.:. Posto ou Graduação .:.</h1>

<table>
  <thead>
    <tr>
      <th>Posto grad</th>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @graduations.each do |graduation| %>
      <tr>
        <td><%= graduation.posto_grad %></td>
        <td><%= graduation.descricao %></td>
        <td><%= link_to 'Mostrar', graduation %></td>
        <td><%= link_to 'Editar', edit_graduation_path(graduation) %></td>
        <td><%= link_to 'Excluir', graduation, method: :delete, data: { confirm: 'Tem Certeza ??' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Posto/Graduação', new_graduation_path %>

<br/>
<%= link_to "HOME", "/home/index"%>
<br/>


