<p id="notice"><%= notice %></p>
<h1>.:. Mostrar Posto / Graduação .:. </h1>
<br>

<p>
  <strong>Posto grad:</strong>
  <%= @graduation.posto_grad %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @graduation.descricao %>
</p>

<%= link_to 'Editar', edit_graduation_path(@graduation) %> |
<%= link_to 'Voltar', graduations_path %>
