<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :produto %>
    <%= form.text_field :produto, id: :product_produto %>
  </div>

  <div class="field">
    <%= form.label :qtde_estq %>
    <%= form.number_field :qtde_estq, id: :product_qtde_estq %>
  </div>

  <div class="field">
    <%= form.label :estq_min %>
    <%= form.number_field :estq_min, id: :product_estq_min %>
  </div>

  <div class="field">
    <%= form.label :unidade %>
    <%= form.text_field :unidade, id: :product_unidade %>
  </div>

  <div class="field">
    <%= form.label :dt_entrada %>
    <%= form.date_select :dt_entrada, id: :product_dt_entrada %>
  </div>

  <div class="field">
    <%= form.label :dt_vencimento %>
    <%= form.date_select :dt_vencimento, id: :product_dt_vencimento %>
  </div>

  <div class="field">
    <%= form.label :valor %>
    <%= form.text_field :valor, id: :product_valor %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
