<p id="notice"><%= notice %></p>
<h1>.:. Produtos .:.</h1>
<br>
<!-- Busca -->
<%= search_form_for @q do |f| %>
    <%= f.label :produto_cont %>
    <%= f.search_field :produto_cont %>
    <br>
      <%= f.select :combinator, [['E','and'],['OU','or']] %>
    <br>
    <%= f.label :estq_min_lteq, "Qtde Mínima menor ou = " %>
    <%= f.search_field :estq_min_lteq %>

    <%= f.submit %>
<% end %>
<br>
<table>
  <thead>
    <tr>
      <th><%= sort_link(@q, :produto ) %></th>
      <th><%= sort_link(@q, :qtde_estq ) %></th>
      <th>Estq min</th>
      <th>Unidade</th>
      <th><%= sort_link(@q, :dt_entrada ) %></th>
      <th><%= sort_link(@q, :dt_vencimento ) %></th>
      <th><%= sort_link(@q, :valor ) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.produto %></td>
        <td><%= product.qtde_estq %></td>
        <td><%= product.estq_min %></td>
        <td><%= product.unidade %></td>
        <td><%= product.dt_entrada %></td>
        <td><%= product.dt_vencimento %></td>
        <td><%= product.valor %></td>
        <td><%= link_to 'Mostrar', product %></td>
        <td><%= link_to 'Editar', edit_product_path(product) %></td>
        <td><%= link_to 'Excluir', product, method: :delete, data: { confirm: 'Tem certeza ??' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Produto', new_product_path %>

<br/>
<%= link_to "HOME", "/home/index"%>
<br/>

