<p id="notice"><%= notice %></p>
<h1>.:. Mostrar Produtos .:.</h1>
<br>
<p>
  <strong>Produto:</strong>
  <%= @product.produto %>
</p>

<p>
  <strong>Qtde estq:</strong>
  <%= @product.qtde_estq %>
</p>

<p>
  <strong>Estq min:</strong>
  <%= @product.estq_min %>
</p>

<p>
  <strong>Unidade:</strong>
  <%= @product.unidade %>
</p>

<p>
  <strong>Dt entrada:</strong>
  <%= @product.dt_entrada %>
</p>

<p>
  <strong>Dt vencimento:</strong>
  <%= @product.dt_vencimento %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @product.valor %>
</p>

<%= link_to 'Editar', edit_product_path(@product) %> |
<%= link_to 'Voltar', products_path %>
