<p id="notice"><%= notice %></p>

<p>
  <strong>Service:</strong>
  <%= @detail.service %>
</p>

<p>
  <strong>Product:</strong>
  <%= @detail.product %>
</p>

<p>
  <strong>Qtde:</strong>
  <%= @detail.qtde %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @detail.valor %>
</p>

<%= link_to 'Edit', edit_detail_path(@detail) %> |
<%= link_to 'Back', details_path %>
