<%= form_with(model: apartment, local: true) do |form| %>
  <% if apartment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(apartment.errors.count, "error") %> prohibited this apartment from being saved:</h2>

      <ul>
      <% apartment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nr %>
    <%= form.number_field :nr, id: :apartment_nr %>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao, id: :apartment_descricao %>
  </div>

  <div class="field">
    <%= form.label :leito %>
    <%= form.text_field :leito, id: :apartment_leito %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :apartment_status %>
  </div>

  <div class="field">
    <%= form.label :observacao %>
    <%= form.text_field :observacao, id: :apartment_observacao %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
