<p id="notice"><%= notice %></p>
<h1>.:. Apartamentos .:.</h1>
<br>

<table>
  <thead>
    <tr>
      <th>Nr</th>
      <th>Descricao</th>
      <th>Leito</th>
      <th>Status</th>
      <th>Observacao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apartments.each do |apartment| %>
      <tr>
        <td><%= apartment.nr %></td>
        <td><%= apartment.descricao %></td>
        <td><%= apartment.leito %></td>
        <td><%= apartment.status %></td>
        <td><%= apartment.observacao %></td>
        <td><%= link_to 'Mostrar', apartment %></td>
        <td><%= link_to 'Editar', edit_apartment_path(apartment) %></td>
        <td><%= link_to 'Excluir', apartment, method: :delete, data: { confirm: 'Tem certeza ??' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Apartamento', new_apartment_path %>

<br/>
<%= link_to "HOME", "/home/index"%>
<br/>
