<p id="notice"><%= notice %></p>
<h1>.:. Mostrar Apartamento .:. </h1>
<br>

<p>
  <strong>Nr:</strong>
  <%= @apartment.nr %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @apartment.descricao %>
</p>

<p>
  <strong>Leito:</strong>
  <%= @apartment.leito %>
</p>

<p>
  <strong>Status:</strong>
  <%= @apartment.status %>
</p>

<p>
  <strong>Observacao:</strong>
  <%= @apartment.observacao %>
</p>

<br>
<%= link_to 'Editar', edit_apartment_path(@apartment) %> |
<%= link_to 'Voltar', apartments_path %>
