<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <a class="navbar-brand" href="<%= root_path %>">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="<%= bookings_path %>">|Reserva</a>
      <a class="nav-item nav-link" href="<%= customers_path %>">|Cliente</a>
      <a class="nav-item nav-link" href="<%= products_path %>">|Produto</a>
      <a class="nav-item nav-link" href="<%= graduations_path %>">|Posto/Graduação</a>
      <a class="nav-item nav-link" href="<%= apartments_path %>">|Apartamento</a>
      <a class="nav-item nav-link" href="<%= cars_path %>">|Veículo</a>
      <a class="nav-item nav-link" href="<%= employees_path %>">|Funcionário</a>
      <a class="nav-item nav-link" href="<%= situations_path %>">|Situação</a>
      <a class="nav-item nav-link" href="<%= reasons_path %>">|Motivo</a>
      <a class="nav-item nav-link" href="<%= forces_path %>">|Força</a>
      <a class="nav-item nav-link" href="<%= companions_path %>">|Acompanhante</a>
      <a class="nav-item nav-link" href="<%= orders_path %>">|Pedido</a>
      <a class="nav-item nav-link" href="<%= services_path %>">|Serviço</a>
      <!--<a class="nav-item nav-link" href="<%= new_admin_session_path %>">|Admin|</a>-->
    </div>
  </div>
</nav>